.profile {
  display: flex; /* Ensures flexbox layout for alignment */
  align-items: stretch; /* Ensures children can stretch to fill */
  padding-bottom: 0%; /* Remove any default padding */
  padding-top: 8%; /* Remove any default padding */
} 

.columns.is-vcentered {
  align-items: center; /* Ensure vertical centering */
  height: 100%; /* Make sure it fits within the parent */
}

.no-shadow {
  box-shadow: none; /* Removes shadow only for this specific card header */
}

.project-caption{
  padding-top: 0%
}

.navbar{
  padding-left: 10%;
  padding-right: 10%
}

.card-header-icon{
  padding-left: 0%;
  padding-left: 0%;
}

.projects {
  display: flex; /* Use Flexbox for alignment */
  align-items: stretch; /* Ensures all cards stretch to the same height */
}

.card {
  display: flex;
  flex-direction: column; /* Keeps card content organized */
  min-height: 100%; /* Ensures the card fills available height */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

.navbar-item{
  padding-top: 5%;
  padding-bottom: 5%;
}